<a href="https://colab.research.google.com/github/PriyankaOdela/ineuron-python-basics/blob/main/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#create your own data
import pandas as pd
series = pd.Series([1,2,3])
series

0    1
1    2
2    3
dtype: int64

In [2]:
type(series)

pandas.core.series.Series

In [5]:
series2 = pd.Series(data = [1,2,3], index = [4,5,6])
series2

4    1
5    2
6    3
dtype: int64

In [6]:
type(series2)

pandas.core.series.Series

In [7]:
df = pd.DataFrame(
    {
     "Name": ["Rosaline Franklin", "William Gosset"],
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"],
    "Age": [37, 61]
    }
)

In [8]:
df

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [11]:
#specifying index and cols

df = pd.DataFrame(
    data = 
    {
     "Name": ["Rosaline Franklin", "William Gosset"],
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"],
    "Age": [37, 61]
    },
    index = ["Rosaline Franklin", "William Gosset"],
    columns = ["Occupation","Born","Died","Age"]
)
df

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [12]:
# select by row index label
df.loc['Rosaline Franklin']

Occupation       Chemist
Born          1920-07-25
Died          1958-04-16
Age                   37
Name: Rosaline Franklin, dtype: object

In [14]:
df.iloc[1,2]

'1937-10-16'

In [17]:
#the index is printed as the first “column,” and the values are printed as the second “column.”
#attributes are .index and .values
first_row = df.loc['Rosaline Franklin']
first_row.index

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [18]:
first_row.values

array(['Chemist', '1920-07-25', '1958-04-16', 37], dtype=object)

In [19]:
df.keys()

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [20]:
# get the first index using an attribute
first_row.index[0]

'Occupation'

In [21]:
# get the first index using a method
first_row.keys()[0]

'Occupation'

** Series Method **

In [24]:
#get the column
Age = df['Age']
Age

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [25]:
#descriptive statistics
Age.mean()

49.0

In [26]:
Age.min()

37

In [27]:
Age.max()

61

In [28]:
Age.std()

16.97056274847714

In [43]:
scientists = pd.DataFrame(
    {
        'name':['Rosaline Franklin','William Gosset','Florence Nightingale','Marie Curie','Rachel Carson','John Snow','Alan Turing','Johann Gauss'],
     'born':["1920-07-25","1876-06-13","1820-05-12","1867-11-07","1907-05-27","1813-03-15","1912-06-23","1777-04-30"],
     'died':["1958-04-16","1937-10-16","1910-08-13","1934-07-04","1964-04-14","1858-06-16","1954-06-07","1855-02-23"],
     'age':[37,61,90,66,56,45,41,77],
     'occupation':['Chemist','Statistician','Nurse','Chemist','Biologist','Physician','Computer Scientist','Mathematician']
    }
)

In [45]:
scientists

                   name        born        died  age          occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [46]:
scientists.describe()

             age
count   8.000000
mean   59.125000
std    18.325918
min    37.000000
25%    44.000000
50%    58.500000
75%    68.750000
max    90.000000

In [47]:
scientists.index

RangeIndex(start=0, stop=8, step=1)

In [48]:
scientists.columns

Index(['name', 'born', 'died', 'age', 'occupation'], dtype='object')

In [49]:
scientists.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

In [50]:
first_half = scientists[:4]
second_half = scientists[4:]

In [51]:
first_half

                   name        born        died  age    occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [52]:
second_half

            name        born        died  age          occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [53]:
# multiply by a scalar
print(scientists * 2)

                                       name                  born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   died  age                            occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [54]:
scientists.dtypes

name          object
born          object
died          object
age            int64
occupation    object
dtype: object

In [56]:
# format the 'Born' column as a datetime
born_datetime = pd.to_datetime(scientists['born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: born, dtype: datetime64[ns]